input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.section {
  font-weight: bold;
  margin: 30px;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  min-width: 200px;
  max-width: 750px;
  margin: 0 auto;
  box-shadow: 10px 5px 5px #BBBBBB;
}

.center {
  text-align: center;
  margin: 0 auto;
}

html {
  font-family: sans-serif;
  background-color: #dddddd;
}

.hidden {
  visibility: hidden;
}

#btn_copybutton {
  background-color: #CCCCCC;
  float: right;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  flex: 1;
}

#btn_copybutton:hover:enabled {
  background-color: #BBBBBB;
  cursor: pointer;
}